Repository qlover/fe-base, pull requests merged in 2024-12, with the labels that each got.

#150 Feat/fe scripts context
  .env
  package.json
  packages/fe-scripts/bin/clean-branch.js
  packages/fe-scripts/bin/clean.js
  packages/fe-scripts/bin/commit.js
  packages/fe-scripts/bin/create-release-pr.js
  packages/fe-scripts/bin/pre-global.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/bin/setup-husky.js
  packages/fe-scripts/commitlint.config.js
  packages/fe-scripts/fe-config.json
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Dependencie.js
  packages/fe-scripts/lib/Env.js
  packages/fe-scripts/lib/FeScriptContext.js
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/lib/index.js
  packages/fe-scripts/lib/release/ReleaseConfiguter.js
  packages/fe-scripts/lib/release/ReleasePRManager.js
  packages/fe-scripts/lib/release/ReleaseUtil.js
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/clean-branch.js
  packages/fe-scripts/scripts/clean.js
  packages/fe-scripts/scripts/commit.js
  packages/fe-scripts/scripts/index.js
  packages/fe-scripts/scripts/release.js
  packages/fe-scripts/scripts/search-env.js
  packages/fe-scripts/scripts/setup-husky.js
  packages/fe-scripts/types/feConfig.d.ts
  packages/fe-scripts/types/index.d.ts
  packages/fe-scripts/types/lib.d.ts
  packages/fe-scripts/types/scripts.d.ts
Labels: pkg:fe-scripts

#151 [@qlover/fe-scripts Release] Branch:master, Tag:0.4.0, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#152 Release production master 0.4.0
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/scripts/release.js
Labels: CI-Release, pkg:fe-scripts

#153 fix: fe-scripts type
  .cursorrules
  packages/fe-scripts/container.js
  packages/fe-scripts/index.js
  packages/fe-scripts/lib/ConfigSearch.js
  packages/fe-scripts/lib/Env.js
  packages/fe-scripts/lib/index.d.ts
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/clean-branch.js
  packages/fe-scripts/scripts/index.d.ts
  packages/fe-scripts/scripts/setup-husky.js
  packages/fe-scripts/types/index.d.ts
  packages/fe-utils/package.json
  tsconfig.json
Labels: pkg:fe-scripts, pkg:fe-utils

#154 [@qlover/fe-utils Release] Branch:master, Tag:1.0.13, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#155 [@qlover/fe-scripts Release] Branch:master, Tag:0.4.1, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#158 feat: clean branch command options
  packages/fe-scripts/bin/clean-branch.js
  packages/fe-scripts/lib/FeScriptContext.js
  packages/fe-scripts/scripts/clean-branch.js
  packages/fe-scripts/scripts/index.d.ts
Labels: pkg:fe-scripts

#159 [@qlover/fe-scripts Release] Branch:master, Tag:0.4.2, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#161 [@qlover/fe-utils Release] Branch:master, Tag:1.0.14, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#162 docs: update fe-utils
  packages/fe-code2markdown/hbs/context.hbs
  packages/fe-utils/common/executor/Executor.ts
  packages/fe-utils/common/executor/impl/AsyncExecutor.ts
  packages/fe-utils/common/executor/plugins/ExecutorPlugin.ts
  packages/fe-utils/common/executor/plugins/RetryPlugin.ts
  packages/fe-utils/common/logger/Logger.ts
  packages/fe-utils/common/request/adapter/RequestAdapterFetch.ts
  packages/fe-utils/common/request/plugins/FetchAbortPlugin.ts
  packages/fe-utils/common/request/plugins/FetchURLPlugin.ts
  packages/fe-utils/docs/common/executor/Executor.md
  packages/fe-utils/docs/common/executor/ExecutorError.md
  packages/fe-utils/docs/common/executor/impl/AsyncExecutor.md
  packages/fe-utils/docs/common/executor/impl/SyncExecutor.md
  packages/fe-utils/docs/common/executor/plugins/ExecutorPlugin.md
  packages/fe-utils/docs/common/executor/plugins/RetryPlugin.md
  packages/fe-utils/docs/common/logger/Logger.md
  packages/fe-utils/docs/common/request/RequestScheduler.md
  packages/fe-utils/docs/common/request/adapter/RequestAdapter.md
  packages/fe-utils/docs/common/request/adapter/RequestAdapterAxios.md
  packages/fe-utils/docs/common/request/adapter/RequestAdapterFetch.md
  packages/fe-utils/docs/common/request/plugins/FetchAbortPlugin.md
  packages/fe-utils/docs/common/request/plugins/FetchResponseTypePlugin.md
  packages/fe-utils/docs/common/request/plugins/FetchURLPlugin.md
  packages/fe-utils/docs/common/serializer/Base64Serializer.md
  packages/fe-utils/docs/common/serializer/JSONSerializer.md
  packages/fe-utils/docs/common/serializer/Serializer.md
  packages/fe-utils/docs/server/encrypt/Encryptor.md
  packages/fe-utils/docs/server/encrypt/StringEntrypt.md
  packages/fe-utils/docs/server/encrypt/StringZlibEncrypt.md
Labels: pkg:fe-utils

#163 [@qlover/fe-utils Release] Branch:master, Tag:1.0.15, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#164 chore: add ts eslint
  eslint.config.js
  packages/fe-code2markdown/example/example.ts
  packages/fe-code2markdown/index.d.ts
  packages/fe-scripts/lib/index.d.ts
  packages/fe-standard/config/eslint.base.ts.js
  packages/fe-standard/config/eslint.jest.js
  packages/fe-utils/__tests__/executor/Executor.test.ts
  packages/fe-utils/__tests__/executor/impl/AsyncExecutor.test.ts
  packages/fe-utils/__tests__/request/RequestError.test.ts
  packages/fe-utils/__tests__/request/RequestScheduler.test.ts
  packages/fe-utils/__tests__/request/adapter/RequestAdapterAxios.test.ts
  packages/fe-utils/__tests__/request/adapter/RequestAdapterFetch.test.ts
  packages/fe-utils/__tests__/request/plugins/FetchAbortPlugin.test.ts
  packages/fe-utils/__tests__/serializer/Serializer.test.ts
  packages/fe-utils/common/executor/impl/AsyncExecutor.ts
  packages/fe-utils/common/executor/impl/SyncExecutor.ts
  packages/fe-utils/common/request/adapter/RequestAdapter.ts
  packages/fe-utils/common/request/adapter/RequestAdapterAxios.ts
  packages/fe-utils/common/request/adapter/RequestAdapterFetch.ts
  packages/fe-utils/common/serializer/JSONSerializer.ts
  packages/fe-utils/common/serializer/Serializer.ts
  packages/fe-utils/server/encrypt/StringEntrypt.ts
  packages/fe-utils/server/encrypt/StringZlibEncrypt.ts
Labels: pkg:fe-scripts, pkg:fe-utils

#166 [@qlover/fe-scripts Release] Branch:master, Tag:0.4.3, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#165 [@qlover/fe-utils Release] Branch:master, Tag:1.0.16, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#168 [@qlover/fe-utils Release] Branch:master, Tag:1.0.17, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/__tests__/request/RequestScheduler.network.test.ts
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#169 build: bundle zip
  packages/fe-utils/__tests__/request/RequestScheduler.network.test.ts
  packages/fe-utils/__tests__/request/adapter/RequestAdapterAxios.test.ts
  packages/fe-utils/common/request/RequestScheduler.ts
  packages/fe-utils/common/request/adapter/RequestAdapterAxios.ts
  packages/fe-utils/common/request/adapter/RequestAdapterFetch.ts
  packages/fe-utils/package.json
Labels: pkg:fe-utils

#170 [@qlover/fe-utils Release] Branch:master, Tag:1.0.18, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#171 fix: eslint config
  eslint.config.js
  packages/fe-code2markdown/index.d.ts
  packages/fe-scripts/lib/Dependencie.js
  packages/fe-standard/config/eslint.base.js
  packages/fe-standard/config/eslint.base.ts.js
  packages/fe-standard/config/eslint.jest.js
  packages/fe-standard/eslint/chain.js
  packages/fe-standard/eslint/index.js
  packages/fe-standard/eslint/ts.rules.js
  packages/fe-standard/package.json
  packages/fe-utils/__tests__/executor/impl/AsyncExecutor.test.ts
  packages/fe-utils/__tests__/executor/impl/SyncExecutor.test.ts
  packages/fe-utils/__tests__/request/RequestError.test.ts
  packages/fe-utils/__tests__/request/RequestScheduler.test.ts
  packages/fe-utils/__tests__/request/plugins/FetchAbortPlugin.test.ts
  packages/fe-utils/__tests__/serializer/Serializer.test.ts
  packages/fe-utils/common/request/plugins/FetchAbortPlugin.ts
  packages/fe-utils/common/request/plugins/FetchURLPlugin.ts
Labels: pkg:fe-scripts, pkg:fe-utils

#173 fix: test file use browser globals
  .github/workflows/release-fe-scripts.yml
  .github/workflows/release-fe-utils.yml
  eslint.config.js
  packages/fe-utils/common/__tests__/request/RequestError.test.ts
  packages/fe-utils/common/__tests__/request/adapter/RequestAdapterFetch.test.ts
  packages/fe-utils/common/__tests__/request/plugins/FetchAbortPlugin.test.ts
Labels: pkg:fe-utils

#174 [@qlover/fe-utils Release] Branch:master, Tag:1.0.19, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#176 Refactor/fe scripts
  package.json
  packages/fe-scripts/bin/clean-branch.js
  packages/fe-scripts/bin/clean.js
  packages/fe-scripts/bin/commit.js
  packages/fe-scripts/bin/create-release-pr.js
  packages/fe-scripts/bin/pre-global.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/bin/setup-husky.js
  packages/fe-scripts/index.js
  packages/fe-scripts/lib/ConfigSearch.js
  packages/fe-scripts/lib/Dependencie.js
  packages/fe-scripts/lib/Env.js
  packages/fe-scripts/lib/FeScriptContext.js
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/lib/Shell.js
  packages/fe-scripts/lib/index.d.ts
  packages/fe-scripts/lib/index.js
  packages/fe-scripts/lib/release/ReleaseConfiguter.js
  packages/fe-scripts/lib/release/ReleaseUtil.js
  packages/fe-scripts/package.json
  packages/fe-scripts/rollup.config.js
  packages/fe-scripts/scripts/index.d.ts
  packages/fe-scripts/scripts/index.js
  packages/fe-scripts/src/feConfig.ts
  packages/fe-scripts/src/global.d.ts
  packages/fe-scripts/src/index.ts
  packages/fe-scripts/src/lib/ConfigSearch.ts
  packages/fe-scripts/src/lib/Dependencie.ts
  packages/fe-scripts/src/lib/Env.ts
  packages/fe-scripts/src/lib/FeScriptContext.ts
  packages/fe-scripts/src/lib/Release.ts
  packages/fe-scripts/src/lib/ScriptsLogger.ts
  packages/fe-scripts/src/lib/Shell.ts
  packages/fe-scripts/src/lib/index.ts
  packages/fe-scripts/src/lib/release/ReleaseConfiguter.ts
  packages/fe-scripts/src/lib/release/ReleasePRManager.ts
  packages/fe-scripts/src/lib/release/ReleaseUtil.ts
  packages/fe-scripts/src/scripts/clean-branch.ts
  packages/fe-scripts/src/scripts/clean.ts
  packages/fe-scripts/src/scripts/commit.ts
  packages/fe-scripts/src/scripts/index.ts
  packages/fe-scripts/src/scripts/release.ts
  packages/fe-scripts/src/scripts/search-env.ts
  packages/fe-scripts/src/scripts/setup-husky.ts
  packages/fe-scripts/tsconfig.json
  packages/fe-scripts/types/index.d.ts
Labels: pkg:fe-scripts

#177 [@qlover/fe-scripts Release] Branch:master, Tag:0.4.4, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#180 Feat/fe code2md use typescript
  package.json
  packages/fe-code2markdown/bin/code2md.js
  packages/fe-code2markdown/example/example.ts
  packages/fe-code2markdown/index.d.ts
  packages/fe-code2markdown/lib/HBSTemplate.js
  packages/fe-code2markdown/package.json
  packages/fe-code2markdown/rollup.config.js
  packages/fe-code2markdown/src/HBSTemplate.ts
  packages/fe-code2markdown/src/ProjectReader.ts
  packages/fe-code2markdown/src/ReflectionGenerater.ts
  packages/fe-code2markdown/src/TypeDocConverter.ts
  packages/fe-code2markdown/src/Utils.ts
  packages/fe-code2markdown/src/global.d.ts
  packages/fe-code2markdown/src/index.ts
  packages/fe-code2markdown/src/type.ts
  packages/fe-code2markdown/tsconfig.json
  packages/fe-scripts/package.json
  packages/fe-utils/docs/common/logger/Logger.md
  packages/fe-utils/package.json
Labels: pkg:fe-scripts, pkg:fe-utils

#182 [@qlover/fe-scripts Release] Branch:master, Tag:0.5.1, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#181 [@qlover/fe-utils Release] Branch:master, Tag:1.1.1, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#184 [@qlover/fe-utils Release] Branch:master, Tag:1.1.2, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#185 Refactor/executor
  packages/fe-utils/common/__tests__/executor/Executor.test.ts
  packages/fe-utils/common/__tests__/executor/impl/AsyncExecutor.test.ts
  packages/fe-utils/common/__tests__/executor/impl/SyncExecutor.test.ts
  packages/fe-utils/common/__tests__/executor/plugins/ExecutorPlugin.test.ts
  packages/fe-utils/common/__tests__/request/adapter/RequestAdapterFetch.test.ts
  packages/fe-utils/common/executor/impl/AsyncExecutor.ts
  packages/fe-utils/common/executor/impl/SyncExecutor.ts
  packages/fe-utils/common/executor/plugins/RetryPlugin.ts
  packages/fe-utils/common/request/plugins/FetchAbortPlugin.ts
  packages/fe-utils/docs/common/executor/impl/AsyncExecutor.md
  packages/fe-utils/docs/common/executor/impl/SyncExecutor.md
  packages/fe-utils/docs/common/executor/plugins/RetryPlugin.md
  packages/fe-utils/docs/common/request/RequestScheduler.md
  packages/fe-utils/docs/common/request/adapter/RequestAdapterFetch.md
  packages/fe-utils/docs/common/request/plugins/FetchAbortPlugin.md
  packages/fe-utils/docs/common/request/plugins/FetchResponseTypePlugin.md
  packages/fe-utils/docs/interface/executor/Executor.md
  packages/fe-utils/docs/interface/executor/ExecutorContext.md
  packages/fe-utils/docs/interface/executor/ExecutorPlugin.md
  packages/fe-utils/interface/executor/ExecutorContext.ts
  packages/fe-utils/interface/executor/ExecutorPlugin.ts
Labels: pkg:fe-utils

#186 [@qlover/fe-utils Release] Branch:master, Tag:1.1.3, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils
