Repository qlover/fe-base, pull requests merged in 2024-11, with the labels that each got.

#102 Fix/release pr not found conventional changelog core
  .github/workflows/general-check.yml
  .github/workflows/release-fe-scripts.yml
  .gitignore
  package.json
  packages/fe-scripts/.release-it.json
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/bin/create-release-pr.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/fe-config.json
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/release.js
  packages/fe-scripts/yarn.lock
  packages/fe-standard/yarn.lock
  packages/fe-utils/package.json
  packages/fe-utils/tests/executor.test.ts
  packages/fe-utils/yarn.lock
Labels: pkg:fe-scripts, pkg:fe-utils

#104 [Test Packages Release] Branch:merge-packages-test-cicd, Tag:0.3.0, Env:production
  .github/workflows/release-fe-scripts.yml
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/fe-config.json
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/release.js
Labels: CI-Release, pkg:fe-scripts

#105 [Test] cicd PR
  .github/workflows/general-check.yml
  .github/workflows/release-fe-scripts.yml
  .gitignore
  package.json
  packages/fe-scripts/.release-it.json
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/bin/check-npm-auth.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/fe-config.json
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/release.js
Labels: pkg:fe-scripts

#106 build: fe-scripts test 0.3.4 CI
  packages/fe-scripts/bin/create-release-pr.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#108 build: fe-scripts test 0.3.4 CI
  .github/workflows/release-fe-scripts.yml
  packages/fe-scripts/bin/create-release-pr.js
  packages/fe-scripts/bin/release.js
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#110 test: fe-script PR v0.3.4
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#111 build: use tmp file create pr body
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#112 Create pr label repeat error
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#113 [Test Packages Release] Branch:merge-packages-test-cicd, Tag:0.3.4, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#119 test: release path
  .github/workflows/release-fe-scripts.yml
  package.json
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/scripts/release.js
Labels: pkg:fe-scripts

#120 [Fe-Scripts Release] Branch:master, Tag:0.3.5, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release

#121 feat: remove auto merge
  fe-config.json
  packages/fe-scripts/bin/check-npm-auth.js
  packages/fe-scripts/fe-config.json
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Release.js
  packages/fe-scripts/package.json
  packages/fe-scripts/scripts/release.js
Labels: pkg:fe-scripts

#122 [@qlover/fe-scripts Release] Branch:master, Tag:0.3.6, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#123 fix: release push changlog.md
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#124 [@qlover/fe-scripts Release] Branch:master, Tag:0.3.7, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#125 fix: release ignore changelog
  packages/fe-scripts/index.d.ts
  packages/fe-scripts/lib/Release.js
Labels: pkg:fe-scripts

#126 [@qlover/fe-scripts Release] Branch:master, Tag:0.3.8, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#118 Feat/add request exec
  .github/workflows/release-fe-utils.yml
  packages/fe-utils/.release-it.json
  packages/fe-utils/__tests__/executor.test.ts
  packages/fe-utils/__tests__/request.test.ts
  packages/fe-utils/common/executor/index.ts
  packages/fe-utils/common/index.ts
  packages/fe-utils/common/request/FetchRequest.ts
  packages/fe-utils/common/request/RequestExecutor.ts
  packages/fe-utils/common/request/index.ts
  packages/fe-utils/package.json
  packages/fe-utils/tests/executor.test.ts
  packages/fe-utils/tests/request.test.ts
Labels: pkg:fe-utils

#127 [@qlover/fe-utils Release] Branch:master, Tag:1.0.4, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#128 fix: fe scripts commitizen not found
  package.json
  packages/fe-scripts/package.json
Labels: pkg:fe-scripts

#129 [@qlover/fe-scripts Release] Branch:master, Tag:0.3.9, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#130 Feat/request abort
  packages/fe-utils/__tests__/request.abort.test.ts
  packages/fe-utils/__tests__/request.test.ts
  packages/fe-utils/common/executor/index.ts
  packages/fe-utils/common/request/AbortPlugin.ts
  packages/fe-utils/common/request/FetchRequest.ts
  packages/fe-utils/common/request/FetchRequestConfig.ts
  packages/fe-utils/common/request/FetchURLPlugin.ts
  packages/fe-utils/common/request/RequestExecutor.ts
  packages/fe-utils/common/request/index.ts
  packages/fe-utils/package.json
  packages/fe-utils/tests/encrypt.test.ts
  packages/fe-utils/tests/executor.test.ts
  packages/fe-utils/tests/logger.test.ts
  packages/fe-utils/tests/request.test.ts
  packages/fe-utils/vitest.config.ts
Labels: pkg:fe-utils

#131 [@qlover/fe-utils Release] Branch:master, Tag:1.0.5, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#132 fix: fetchRequest type defined
  packages/fe-utils/__tests__/executor.test.ts
  packages/fe-utils/__tests__/request.abort.test.ts
  packages/fe-utils/__tests__/request.test.ts
  packages/fe-utils/common/executor/index.ts
  packages/fe-utils/common/request/AbortPlugin.ts
  packages/fe-utils/common/request/FetchRequest.ts
  packages/fe-utils/common/request/FetchRequestConfig.ts
  packages/fe-utils/common/request/RequestExecutor.ts
  packages/fe-utils/common/request/index.ts
Labels: pkg:fe-utils

#133 [@qlover/fe-utils Release] Branch:master, Tag:1.0.6, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#134 Feat/exector chain no return break
  packages/fe-utils/__tests__/executor.retry.test.ts
  packages/fe-utils/__tests__/executor.test.ts
  packages/fe-utils/__tests__/request.test.ts
  packages/fe-utils/common/executor/AsyncExecutor.ts
  packages/fe-utils/common/executor/Executor.ts
  packages/fe-utils/common/executor/RetryPlugin.ts
  packages/fe-utils/common/executor/SyncExecutor.ts
  packages/fe-utils/common/executor/index.ts
  packages/fe-utils/common/request/FetchRequest.ts
  packages/fe-utils/package.json
Labels: pkg:fe-utils

#135 [@qlover/fe-utils Release] Branch:master, Tag:1.0.7, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#136 Feat/fe code to markdown
  .cursorrules
  .gitignore
  .vscode/settings.json
  package.json
  packages/fe-code2markdown/README.md
  packages/fe-code2markdown/bin/code2md.js
  packages/fe-code2markdown/example/example.ts
  packages/fe-code2markdown/hbs/class.hbs
  packages/fe-code2markdown/index.d.ts
  packages/fe-code2markdown/lib/DeclarationReflectionParser.js
  packages/fe-code2markdown/lib/ProjectReflectionGenerater.js
  packages/fe-code2markdown/lib/ProjectReflectionParser.js
  packages/fe-code2markdown/lib/index.js
  packages/fe-code2markdown/package.json
  packages/fe-utils/common/executor/AsyncExecutor.ts
  packages/fe-utils/common/executor/Executor.ts
  packages/fe-utils/common/executor/ExecutorError.ts
  packages/fe-utils/common/executor/ExecutorPlugin.ts
  packages/fe-utils/common/executor/RetryPlugin.ts
  packages/fe-utils/common/executor/SyncExecutor.ts
  packages/fe-utils/common/executor/index.ts
  packages/fe-utils/common/index.ts
  packages/fe-utils/common/logger/Logger.ts
  packages/fe-utils/common/logger/index.ts
  packages/fe-utils/common/request/AbortPlugin.ts
  packages/fe-utils/common/request/FetchRequest.ts
  packages/fe-utils/common/request/FetchRequestConfig.ts
  packages/fe-utils/common/request/FetchURLPlugin.ts
  packages/fe-utils/common/request/RequestExecutor.ts
  packages/fe-utils/docs/common/executor/AsyncExecutor.md
  packages/fe-utils/docs/common/executor/Executor.md
  packages/fe-utils/docs/common/executor/ExecutorError.md
  packages/fe-utils/docs/common/executor/ExecutorPlugin.md
  packages/fe-utils/docs/common/executor/RetryPlugin.md
  packages/fe-utils/docs/common/executor/SyncExecutor.md
  packages/fe-utils/docs/common/logger/Logger.md
  packages/fe-utils/docs/common/request/AbortPlugin.md
  packages/fe-utils/docs/common/request/FetchRequest.md
  packages/fe-utils/docs/common/request/FetchRequestError.md
  packages/fe-utils/docs/common/request/FetchURLPlugin.md
  packages/fe-utils/docs/common/request/RequestExecutor.md
  packages/fe-utils/docs/server/encrypt/StringEntrypt.md
  packages/fe-utils/docs/server/encrypt/StringZlibEncrypt.md
  packages/fe-utils/package.json
  packages/fe-utils/server/encrypt/Encryptor.ts
  packages/fe-utils/server/encrypt/StringEntrypt.ts
  packages/fe-utils/server/encrypt/StringZlibEncrypt.ts
  packages/fe-utils/server/encrypt/index.ts
  packages/fe-utils/server/index.ts
Labels: pkg:fe-utils

#137 [@qlover/fe-utils Release] Branch:master, Tag:1.0.8, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#140 Fix/fe scripts changelog error
  packages/fe-scripts/.release-it.json
  packages/fe-utils/.release-it.json
Labels: pkg:fe-scripts, pkg:fe-utils

#141 [@qlover/fe-scripts Release] Branch:master, Tag:0.3.10, Env:production
  packages/fe-scripts/CHANGELOG.md
  packages/fe-scripts/package.json
Labels: CI-Release, pkg:fe-scripts

#142 [@qlover/fe-utils Release] Branch:master, Tag:1.0.10, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#144 Feat/serializer
  packages/fe-code2markdown/hbs/context.hbs
  packages/fe-code2markdown/lib/TypeDocConverter.js
  packages/fe-utils/.release-it.json
  packages/fe-utils/__tests__/serializer.test.ts
  packages/fe-utils/common/index.ts
  packages/fe-utils/common/serializer/Base64Serializer.ts
  packages/fe-utils/common/serializer/JSONSerializer.ts
  packages/fe-utils/common/serializer/Serializer.ts
  packages/fe-utils/common/serializer/index.ts
  packages/fe-utils/docs/common/executor/AsyncExecutor.md
  packages/fe-utils/docs/common/executor/Executor.md
  packages/fe-utils/docs/common/executor/ExecutorError.md
  packages/fe-utils/docs/common/executor/ExecutorPlugin.md
  packages/fe-utils/docs/common/executor/RetryPlugin.md
  packages/fe-utils/docs/common/executor/SyncExecutor.md
  packages/fe-utils/docs/common/logger/Logger.md
  packages/fe-utils/docs/common/request/AbortPlugin.md
  packages/fe-utils/docs/common/request/FetchRequest.md
  packages/fe-utils/docs/common/request/FetchRequestConfig.md
  packages/fe-utils/docs/common/request/FetchURLPlugin.md
  packages/fe-utils/docs/common/request/RequestExecutor.md
  packages/fe-utils/docs/common/serializer/Base64Serializer.md
  packages/fe-utils/docs/common/serializer/JSONSerializer.md
  packages/fe-utils/docs/common/serializer/Serializer.md
  packages/fe-utils/docs/server/encrypt/Encryptor.md
  packages/fe-utils/docs/server/encrypt/StringEntrypt.md
  packages/fe-utils/docs/server/encrypt/StringZlibEncrypt.md
Labels: pkg:fe-utils

#145 [@qlover/fe-utils Release] Branch:master, Tag:1.0.11, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#146 Fix/code2markdown table decription
  packages/fe-code2markdown/hbs/context.hbs
  packages/fe-code2markdown/lib/TypeDocConverter.js
  packages/fe-utils/docs/common/executor/AsyncExecutor.md
  packages/fe-utils/docs/common/executor/Executor.md
  packages/fe-utils/docs/common/executor/ExecutorError.md
  packages/fe-utils/docs/common/executor/ExecutorPlugin.md
  packages/fe-utils/docs/common/executor/RetryPlugin.md
  packages/fe-utils/docs/common/executor/SyncExecutor.md
  packages/fe-utils/docs/common/logger/Logger.md
  packages/fe-utils/docs/common/request/AbortPlugin.md
  packages/fe-utils/docs/common/request/FetchRequest.md
  packages/fe-utils/docs/common/request/FetchURLPlugin.md
  packages/fe-utils/docs/common/request/RequestExecutor.md
  packages/fe-utils/docs/common/serializer/Base64Serializer.md
  packages/fe-utils/docs/common/serializer/JSONSerializer.md
  packages/fe-utils/docs/common/serializer/Serializer.md
  packages/fe-utils/docs/server/encrypt/Encryptor.md
  packages/fe-utils/docs/server/encrypt/StringEntrypt.md
  packages/fe-utils/docs/server/encrypt/StringZlibEncrypt.md
Labels: pkg:fe-utils

#147 [@qlover/fe-utils Release] Branch:master, Tag:1.0.12, Env:production
  packages/fe-utils/CHANGELOG.md
  packages/fe-utils/package.json
Labels: CI-Release, pkg:fe-utils

#148 fix(fe-scripts/scripts/release.js): not clear github_token var
  packages/fe-scripts/scripts/release.js
Labels: pkg:fe-scripts
